@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700&display=swap');

/* Include other imports or directives below this line */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}


@layer components {
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #3b82f6; /* Tailwind's blue-500 */
    transition: width 0.3s;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}
